.modal-react-p14 {
    position: absolute;
    top: 50px;
    left: calc(50% - 150px);
    width: 300px;
    min-height: 100px;
    background-color: green;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}
